<!-- About -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section" id="{{ site.data.sitetext[site.locale].icpc.section | default: "icpc" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].icpc.title | default: "ICPC" }}</h2>
        <h3 class="section-subheading">{{ site.data.sitetext[site.locale].icpc.text | default: "" }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="large">{{ site.data.sitetext[site.locale].icpc.body | markdownify }}</div>
      </div>
    </div>
  </div>
</section>
{% else %}
<section class="page-section" id="{{ site.data.sitetext.icpc.section | default: "icpc" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.icpc.title | default: "ICPC" }}</h2>
        <h3 class="section-subheading">{{ site.data.sitetext.icpc.text | default: "" }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="large">{{ site.data.sitetext.icpc.body | markdownify }}</div>
      </div>
    </div>
  </div>
</section>
{% endif %}
<!-- End About -->
